<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <!-- Inicio de la página -->
    <button mat-button routerLink="/inicio">Inicio</button>

    <!-- Productos - Menu desplegable que lleva a todas las secciones -->
    <button mat-button [matMenuTriggerFor]="producto">Productos</button>
    <mat-menu #producto="matMenu">
      <button mat-menu-item routerLink="/producto">General</button>
      <button mat-menu-item routerLink="/alimentacion">Alimentación</button>
      <button mat-menu-item routerLink="/juguete">Juguetes</button>
      <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
    </mat-menu>


    <!-- BOTONES  CON ICONOS -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
  